html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

address {
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.17;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;

  &-col {
    flex-direction: column;
  }
}
